Repository jade-team/kometa-config, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, movies, tv, playlists, metadata, assets

✨ TV: American Gods
  metadata/tv/assets/46639-american-gods.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

✨ TV: American Gods (#217)
  metadata/tv/assets/46639-american-gods.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

🐛 Fix American Gods ID
  metadata/tv/tv.yml
Labels: tv, metadata

🐛 Fix American Gods image ID
  metadata/tv/assets/253573-american-gods.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

🐛 Fix American Gods ID (#218)
  metadata/tv/assets/253573-american-gods.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

🐛 TV: Fix Grey's Anatomy ID
  metadata/tv/assets/73762-grey-s-anatomy.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

🐛 TV: Fix Grey's Anatomy ID (#219)
  metadata/tv/assets/73762-grey-s-anatomy.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

✨ TV: Shogun
  metadata/tv/assets/392573-shogun.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

✨ TV: Shogun (#220)
  metadata/tv/assets/392573-shogun.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

👷 Add Image Compress to CI/CD
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/tests.yml
Labels: none

👷 Add Image Compress to CI/CD (#221)
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/tests.yml
Labels: none

🐛 Fix Image Compress CI/CD
  .github/workflows/calibreapp-image-actions.yml
Labels: none

🐛 Fix Image Compress CI/CD (#222)
  .github/workflows/calibreapp-image-actions.yml
Labels: none

🍱 Compress Images
  metadata/movies/assets/11411-superman-iv-the-quest-for-peace.jpg
  metadata/movies/assets/272-batman-begins.jpg
  metadata/movies/assets/364-batman-returns.jpg
  metadata/movies/assets/381288-split.jpg
  metadata/movies/assets/414-batman-forever.jpg
  metadata/movies/assets/414906-the-batman.jpg
  metadata/movies/assets/440-aliens-vs-predator-requiem.jpg
  metadata/movies/assets/450465-glass.jpg
  metadata/movies/assets/49026-the-dark-knight-rises.jpg
  metadata/movies/assets/9741-unbreakable.jpg
  playlists/assets/Arrowverse (Orden Cronológico).jpg
  playlists/assets/Universo Cinematográfico Marvel (Orden Cronológico).jpg
  playlists/assets/templates/arrowverse.png
  playlists/assets/templates/mcu.png
  playlists/assets/templates/oscars.png
Labels: movies, playlists, metadata, assets

👷 Adjust Image Compress config in CI/CD
  .github/workflows/calibreapp-image-actions.yml
Labels: none

👷 Adjust Image Compress config in CI/CD (#224)
  .github/workflows/calibreapp-image-actions.yml
Labels: none

🍱 Compress Images
  metadata/movies/assets/1246-rocky-balboa.jpg
  metadata/movies/assets/1366-rocky.jpg
  metadata/movies/assets/1371-rocky-iii.jpg
  metadata/movies/assets/1374-rocky-iv.jpg
  metadata/movies/assets/22-pirates-of-the-caribbean-the-curse-of-the-black-pearl.jpg
  metadata/movies/assets/23483-kick-ass.jpg
  metadata/movies/assets/285-pirates-of-the-caribbean-at-world-s-end.jpg
  metadata/movies/assets/296-terminator-3-rise-of-the-machines.jpg
  metadata/movies/assets/297762-wonder-woman.jpg
  metadata/movies/assets/297802-aquaman.jpg
  metadata/movies/assets/395-avp-alien-vs-predator.jpg
  metadata/movies/assets/464052-wonder-woman-1984.jpg
  metadata/movies/assets/480530-creed-ii.jpg
  metadata/movies/assets/677179-creed-iii.jpg
Labels: movies, metadata, assets

✨ Movie: Polar Express
  metadata/movies/assets/5255-the-polar-express.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Polar Express (#227)
  metadata/movies/assets/5255-the-polar-express.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Atlas
  metadata/movies/assets/614933-atlas.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Atlas (#228)
  metadata/movies/assets/614933-atlas.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Universe: The Lord of the Rings
  metadata/movies/assets/120-the-lord-of-the-rings-the-fellowship-of-the-ring.jpg
  metadata/movies/assets/121-the-lord-of-the-rings-the-two-towers.jpg
  metadata/movies/assets/122-the-lord-of-the-rings-the-return-of-the-king.jpg
  metadata/movies/assets/122917-the-hobbit-the-battle-of-the-five-armies.jpg
  metadata/movies/assets/49051-the-hobbit-an-unexpected-journey.jpg
  metadata/movies/assets/57158-the-hobbit-the-desolation-of-smaug.jpg
  metadata/tv/assets/367506-the-lord-of-the-rings-the-rings-of-power.jpg
  metadata/tv/tv.yml
Labels: movies, tv, metadata, assets

Fix file
  metadata/tv/assets/367506-the-lord-of-the-rings-the-rings-of-power_S01.jpg
Labels: tv, metadata, assets

✨ Universe: The Lord of the Rings (#229)
  metadata/movies/assets/120-the-lord-of-the-rings-the-fellowship-of-the-ring.jpg
  metadata/movies/assets/121-the-lord-of-the-rings-the-two-towers.jpg
  metadata/movies/assets/122-the-lord-of-the-rings-the-return-of-the-king.jpg
  metadata/movies/assets/122917-the-hobbit-the-battle-of-the-five-armies.jpg
  metadata/movies/assets/49051-the-hobbit-an-unexpected-journey.jpg
  metadata/movies/assets/57158-the-hobbit-the-desolation-of-smaug.jpg
  metadata/tv/assets/367506-the-lord-of-the-rings-the-rings-of-power.jpg
  metadata/tv/assets/367506-the-lord-of-the-rings-the-rings-of-power_S01.jpg
  metadata/tv/tv.yml
Labels: movies, tv, metadata, assets

✅ feat: Add Tests for TV Show Seasons
  tests/metadata_tv.py
Labels: none

✅ feat: Add Tests for TV Show Seasons (#231)
  tests/metadata_tv.py
Labels: none

✨ Movie: Godzilla Minus One
  metadata/movies/assets/940721-1-0.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Godzilla Minus One (#230)
  metadata/movies/assets/940721-1-0.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: The Hurricane
  metadata/movies/assets/10400-the-hurricane.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

fix ID
  metadata/movies/movies.yml
Labels: movies, metadata

✨ Movie: Babylon A.D.
  metadata/movies/assets/9381-babylon-a-d.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Be Cool
  metadata/movies/assets/4551-be-cool.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: The Hurricane (#232)
  metadata/movies/assets/10400-the-hurricane.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Be Cool (#234)
  metadata/movies/assets/4551-be-cool.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Babylon A.D. (#233)
  metadata/movies/assets/9381-babylon-a-d.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection Rush Hour
  metadata/movies/assets/2109-rush-hour.jpg
  metadata/movies/assets/5174-rush-hour-3.jpg
  metadata/movies/assets/5175-rush-hour-2.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

fix ID
  metadata/movies/movies.yml
Labels: movies, metadata

improve images
  metadata/movies/assets/2109-rush-hour.jpg
  metadata/movies/assets/5174-rush-hour-3.jpg
  metadata/movies/assets/5175-rush-hour-2.jpg
Labels: movies, metadata, assets

✨ Collection: Rush Hour (#235)
  metadata/movies/assets/2109-rush-hour.jpg
  metadata/movies/assets/5174-rush-hour-3.jpg
  metadata/movies/assets/5175-rush-hour-2.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: Big Momma
  metadata/movies/assets/11565-big-momma-s-house-2.jpg
  metadata/movies/assets/38322-big-mommas-like-father-like-son.jpg
  metadata/movies/assets/9600-big-momma-s-house.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

movies:
  - changed-files:
      - any-glob-to-any-file: "metadata/movies/**/*"

tv:
  - changed-files:
      - any-glob-to-any-file: "metadata/tv/**/*"

playlists:
  - changed-files:
      - any-glob-to-any-file: "playlists/**/*"

metadata:
  - changed-files:
      - any-glob-to-any-file: "metadata/**/*"

assets:
  - changed-files:
      - any-glob-to-any-file: "**/*.jpg"
