Repository jade-team/kometa-config, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, movies, tv, playlists, metadata, assets

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

movies:
  - changed-files:
      - any-glob-to-any-file: "metadata/movies/**/*"

tv:
  - changed-files:
      - any-glob-to-any-file: "metadata/tv/**/*"

playlists:
  - changed-files:
      - any-glob-to-any-file: "playlists/**/*"

metadata:
  - changed-files:
      - any-glob-to-any-file: "metadata/**/*"

assets:
  - changed-files:
      - any-glob-to-any-file: "**/*.jpg"

✨ Movie: Bohemian Rhapsody
  metadata/movies/assets/424694-bohemian-rhapsody.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

🐛 Fix: Blade sort
  metadata/movies/movies.yml
Labels: movies, metadata

🐛 Fix: Blade sort (#258)
  metadata/movies/movies.yml
Labels: movies, metadata

✨ Movie: Book Club
  metadata/movies/assets/502682-book-club.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: The longest yard
  metadata/movies/assets/9291-the-longest-yard.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: The longest yard (#255)
  metadata/movies/assets/9291-the-longest-yard.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Braveheart
  metadata/movies/assets/197-braveheart.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Braveheart (#263)
  metadata/movies/assets/197-braveheart.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Breaking and Entering
  metadata/movies/assets/1253-breaking-and-entering.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Breaking and Entering (#264)
  metadata/movies/assets/1253-breaking-and-entering.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Bloodshot
  metadata/movies/assets/338762-bloodshot.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Bloodshot (#261)
  metadata/movies/assets/338762-bloodshot.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Bob Marley: One Love
  metadata/movies/assets/802219-bob-marley-one-love.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Bob Marley: One Love (#259)
  metadata/movies/assets/802219-bob-marley-one-love.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Book Club (#260)
  metadata/movies/assets/502682-book-club.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Bohemian Rhapsody (#257)
  metadata/movies/assets/424694-bohemian-rhapsody.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Black Hawk down (#256)
  metadata/movies/assets/855-black-hawk-down.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Il buono, Il brutto, Il cattivo
  metadata/movies/assets/429-il-buono-il-brutto-il-cattivo.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Il buono, Il brutto, Il cattivo (#265)
  metadata/movies/assets/429-il-buono-il-brutto-il-cattivo.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

Fix image
  metadata/movies/assets/62177-brave.jpg
Labels: movies, metadata, assets

✨ Movie: Brave
  metadata/movies/assets/62177-brave.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Brave (#262)
  metadata/movies/assets/62177-brave.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: Spy Kids movies
  metadata/movies/assets/10054-spy-kids.jpg
  metadata/movies/assets/12279-spy-kids-3-d-game-over.jpg
  metadata/movies/assets/56288-spy-kids-all-the-time-in-the-world.jpg
  metadata/movies/assets/790493-spy-kids-armageddon.jpg
  metadata/movies/assets/9488-spy-kids-2-the-island-of-lost-dreams.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: Spy Kids movies (#266)
  metadata/movies/assets/10054-spy-kids.jpg
  metadata/movies/assets/12279-spy-kids-3-d-game-over.jpg
  metadata/movies/assets/56288-spy-kids-all-the-time-in-the-world.jpg
  metadata/movies/assets/790493-spy-kids-armageddon.jpg
  metadata/movies/assets/9488-spy-kids-2-the-island-of-lost-dreams.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: Star Trek (Original)
  metadata/movies/assets/152-star-trek-the-motion-picture.jpg
  metadata/movies/assets/154-star-trek-ii-the-wrath-of-khan.jpg
  metadata/movies/assets/157-star-trek-iii-the-search-for-spock.jpg
  metadata/movies/assets/168-star-trek-iv-the-voyage-home.jpg
  metadata/movies/assets/172-star-trek-v-the-final-frontier.jpg
  metadata/movies/assets/174-star-trek-vi-the-undiscovered-country.jpg
  metadata/movies/assets/193-star-trek-generations.jpg
  metadata/movies/assets/199-star-trek-first-contact.jpg
  metadata/movies/assets/200-star-trek-insurrection.jpg
  metadata/movies/assets/201-star-trek-nemesis.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

fix ID
  metadata/movies/movies.yml
Labels: movies, metadata

✨ Collection: Star Trek (Original) (#267)
  metadata/movies/assets/152-star-trek-the-motion-picture.jpg
  metadata/movies/assets/154-star-trek-ii-the-wrath-of-khan.jpg
  metadata/movies/assets/157-star-trek-iii-the-search-for-spock.jpg
  metadata/movies/assets/168-star-trek-iv-the-voyage-home.jpg
  metadata/movies/assets/172-star-trek-v-the-final-frontier.jpg
  metadata/movies/assets/174-star-trek-vi-the-undiscovered-country.jpg
  metadata/movies/assets/193-star-trek-generations.jpg
  metadata/movies/assets/199-star-trek-first-contact.jpg
  metadata/movies/assets/200-star-trek-insurrection.jpg
  metadata/movies/assets/201-star-trek-nemesis.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: Star Trek (Alternative) Collection
  metadata/movies/assets/13475-star-trek.jpg
  metadata/movies/assets/188927-star-trek-beyond.jpg
  metadata/movies/assets/54138-star-trek-into-darkness.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

Fix reboot
  metadata/movies/movies.yml
Labels: movies, metadata

Delete (reboot)
  metadata/movies/movies.yml
Labels: movies, metadata

✨ Collection: Star Trek (Alternative) Collection (#268)
  metadata/movies/assets/13475-star-trek.jpg
  metadata/movies/assets/188927-star-trek-beyond.jpg
  metadata/movies/assets/54138-star-trek-into-darkness.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: A quiet place
  metadata/movies/assets/447332-a-quiet-place.jpg
  metadata/movies/assets/520763-a-quiet-place-part-ii.jpg
  metadata/movies/assets/762441-a-quiet-place-day-one.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: A quiet place (#269)
  metadata/movies/assets/447332-a-quiet-place.jpg
  metadata/movies/assets/520763-a-quiet-place-part-ii.jpg
  metadata/movies/assets/762441-a-quiet-place-day-one.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: 28 Years Later: The Bone Temple
  metadata/movies/assets/1272837-28-years-later-the-bone-temple.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

Prueba auto
  .github/workflows/sync-movies-yml.yml
  requirements.txt
  scripts/sync_movies_yml.py
Labels: none

fallo en yml
  .github/workflows/sync-movies-yml.yml
Labels: none

jade-team a jasimancas
  .github/workflows/calibreapp-image-actions.yml
  metadata/movies/movies.yml
  metadata/tv/tv.yml
  playlists/playlists.yml
  tests/metadata_movies.py
  tests/metadata_tv.py
Labels: movies, tv, playlists, metadata

Prueba auto (#270)
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/sync-movies-yml.yml
  metadata/movies/movies.yml
  metadata/tv/tv.yml
  playlists/playlists.yml
  requirements.txt
  scripts/sync_movies_yml.py
  tests/metadata_movies.py
  tests/metadata_tv.py
Labels: movies, tv, playlists, metadata

🍱 Compress Images
  playlists/assets/templates/arrowverse.png
  playlists/assets/templates/mcu.png
  playlists/assets/templates/oscars.png
Labels: playlists

🍱 Compress Images
  playlists/assets/templates/arrowverse.png
  playlists/assets/templates/mcu.png
  playlists/assets/templates/oscars.png
Labels: playlists
