Repository jade-team/kometa-config, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, movies, tv, playlists, metadata, assets

🍱 Compress Images
  playlists/assets/templates/arrowverse.png
  playlists/assets/templates/mcu.png
  playlists/assets/templates/oscars.png
Labels: playlists

🍱 Compress Images
  playlists/assets/templates/arrowverse.png
  playlists/assets/templates/mcu.png
  playlists/assets/templates/oscars.png
Labels: playlists

🍱 Compress Images
  playlists/assets/templates/arrowverse.png
  playlists/assets/templates/mcu.png
  playlists/assets/templates/oscars.png
Labels: playlists

🗑️ Remove Calibreapp image actions workflow. Used imgbot instead.
  .github/workflows/calibreapp-image-actions.yml
Labels: none

🗑️ Remove Calibreapp image actions workflow. Used imgbot instead. (#276)
  .github/workflows/calibreapp-image-actions.yml
Labels: none

feat: add Plex/TMDB automation scripts and .env configuration
  .env.template
  .github/workflows/tests.yml
  .gitignore
  README.md
  config.py
  docs/references.md
  requirements.txt
  scripts/generate_assets_from_tmdb.py
  scripts/plex_export.py
  tests/requirements.txt
Labels: documentation

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

movies:
  - changed-files:
      - any-glob-to-any-file: "metadata/movies/**/*"

tv:
  - changed-files:
      - any-glob-to-any-file: "metadata/tv/**/*"

playlists:
  - changed-files:
      - any-glob-to-any-file: "playlists/**/*"

metadata:
  - changed-files:
      - any-glob-to-any-file: "metadata/**/*"

assets:
  - changed-files:
      - any-glob-to-any-file: "**/*.jpg"
