Repository jade-team/kometa-config, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, movies, tv, playlists, metadata, assets

✨ Collection: Big Momma
  metadata/movies/assets/11565-big-momma-s-house-2.jpg
  metadata/movies/assets/38322-big-mommas-like-father-like-son.jpg
  metadata/movies/assets/9600-big-momma-s-house.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: Big Momma (#236)
  metadata/movies/assets/11565-big-momma-s-house-2.jpg
  metadata/movies/assets/38322-big-mommas-like-father-like-son.jpg
  metadata/movies/assets/9600-big-momma-s-house.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Movie: The Notebook
  metadata/movies/assets/11036-the-notebook.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Movie: Trigger warning
  metadata/movies/assets/704673-trigger-warning.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Movie: Ferrari
  metadata/movies/assets/365620-ferrari.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: The huntsman collection
  metadata/movies/assets/290595-the-huntsman-winter-s-war.jpg
  metadata/movies/assets/58595-snow-white-and-the-huntsman.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

fix title
  metadata/movies/movies.yml
Labels: movies, metadata

✨Movie: Ferrari (#239)
  metadata/movies/assets/365620-ferrari.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Movie: The Notebook (#237)
  metadata/movies/assets/11036-the-notebook.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Movie: Trigger warning (#238)
  metadata/movies/assets/704673-trigger-warning.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: The huntsman collection (#240)
  metadata/movies/assets/290595-the-huntsman-winter-s-war.jpg
  metadata/movies/assets/58595-snow-white-and-the-huntsman.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Movie: Furiosa
  metadata/movies/assets/786892-furiosa-a-mad-max-saga.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Movie: Furiosa (#242)
  metadata/movies/assets/786892-furiosa-a-mad-max-saga.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Movie: Burning
  metadata/movies/assets/491584.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Movie: Burning (#241)
  metadata/movies/assets/491584.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Collection: Digimon movies
  metadata/movies/assets/571265-last-evolution.jpg
  metadata/movies/assets/872976-02-the-beginning.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Collection: Digimon movies (#243)
  metadata/movies/assets/571265-last-evolution.jpg
  metadata/movies/assets/872976-02-the-beginning.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Collection: Berverly Hill Cop
  metadata/movies/assets/306-beverly-hills-cop-iii.jpg
  metadata/movies/assets/90-beverly-hills-cop.jpg
  metadata/movies/assets/96-beverly-hills-cop-ii.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨Collection: Berverly Hill Cop (#244)
  metadata/movies/assets/280180-beverly-hills-cop-axel-f.jpg
  metadata/movies/assets/306-beverly-hills-cop-iii.jpg
  metadata/movies/assets/90-beverly-hills-cop.jpg
  metadata/movies/assets/96-beverly-hills-cop-ii.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: Kung Fu Panda Movies
  metadata/movies/assets/1011985-kung-fu-panda-4.jpg
  metadata/movies/assets/140300-kung-fu-panda-3.jpg
  metadata/movies/assets/381693-kung-fu-panda-secrets-of-the-scroll.jpg
  metadata/movies/assets/49444-kung-fu-panda-2.jpg
  metadata/movies/assets/50393-kung-fu-panda-holiday.jpg
  metadata/movies/assets/9502-kung-fu-panda.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: Kung Fu Panda Movies (#245)
  metadata/movies/assets/1011985-kung-fu-panda-4.jpg
  metadata/movies/assets/140300-kung-fu-panda-3.jpg
  metadata/movies/assets/381693-kung-fu-panda-secrets-of-the-scroll.jpg
  metadata/movies/assets/49444-kung-fu-panda-2.jpg
  metadata/movies/assets/50393-kung-fu-panda-holiday.jpg
  metadata/movies/assets/9502-kung-fu-panda.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Moive: The kingdom of the planet of the apes
  metadata/movies/assets/653346-kingdom-of-the-planet-of-the-apes.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Moive: The kingdom of the planet of the apes (#246)
  metadata/movies/assets/653346-kingdom-of-the-planet-of-the-apes.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ TV: Bridgerton
  metadata/tv/assets/366668-bridgerton.jpg
  metadata/tv/assets/366668-bridgerton_S01.jpg
  metadata/tv/assets/366668-bridgerton_S02.jpg
  metadata/tv/assets/366668-bridgerton_S03.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

🐛 Fix Image Compress CI/CD. Remove triggers
  .github/workflows/calibreapp-image-actions.yml
Labels: none

✨ TV: Bridgerton (#247)
  metadata/tv/assets/366668-bridgerton.jpg
  metadata/tv/assets/366668-bridgerton_S01.jpg
  metadata/tv/assets/366668-bridgerton_S02.jpg
  metadata/tv/assets/366668-bridgerton_S03.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

✨ Moive: Bad Boys: Ride or Die
  metadata/movies/assets/573435-bad-boys-ride-or-die.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Bad Boys: Ride or Die (#249)
  metadata/movies/assets/573435-bad-boys-ride-or-die.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: My spy movies
  metadata/movies/assets/1048241-my-spy-the-eternal-city.jpg
  metadata/movies/assets/592834-my-spy.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Collection: My spy movies (#251)
  metadata/movies/assets/1048241-my-spy-the-eternal-city.jpg
  metadata/movies/assets/592834-my-spy.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: One for the money
  metadata/movies/assets/54054-one-for-the-money.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: One for the money (#253)
  metadata/movies/assets/54054-one-for-the-money.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: The last voyage of the demeter
  metadata/movies/assets/635910-the-last-voyage-of-the-demeter.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: The last voyage of the demeter (#250)
  metadata/movies/assets/635910-the-last-voyage-of-the-demeter.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Get out
  metadata/movies/assets/419430-get-out.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

Improve Poster
  metadata/movies/assets/419430-get-out.jpg
Labels: movies, metadata, assets

✨ Movie: Get out (#252)
  metadata/movies/assets/419430-get-out.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Cellular
  metadata/movies/assets/9759-cellular.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Cellular (#254)
  metadata/movies/assets/9759-cellular.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

✨ Movie: Black Hawk down
  metadata/movies/assets/855-black-hawk-down.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

movies:
  - changed-files:
      - any-glob-to-any-file: "metadata/movies/**/*"

tv:
  - changed-files:
      - any-glob-to-any-file: "metadata/tv/**/*"

playlists:
  - changed-files:
      - any-glob-to-any-file: "playlists/**/*"

metadata:
  - changed-files:
      - any-glob-to-any-file: "metadata/**/*"

assets:
  - changed-files:
      - any-glob-to-any-file: "**/*.jpg"
