Repository jade-team/kometa-config, pull requests merged in 2024-06, with the labels that each got.

#229 ✨ Universe: The Lord of the Rings
  metadata/movies/assets/120-the-lord-of-the-rings-the-fellowship-of-the-ring.jpg
  metadata/movies/assets/121-the-lord-of-the-rings-the-two-towers.jpg
  metadata/movies/assets/122-the-lord-of-the-rings-the-return-of-the-king.jpg
  metadata/movies/assets/122917-the-hobbit-the-battle-of-the-five-armies.jpg
  metadata/movies/assets/49051-the-hobbit-an-unexpected-journey.jpg
  metadata/movies/assets/57158-the-hobbit-the-desolation-of-smaug.jpg
  metadata/tv/assets/367506-the-lord-of-the-rings-the-rings-of-power.jpg
  metadata/tv/assets/367506-the-lord-of-the-rings-the-rings-of-power_S01.jpg
  metadata/tv/tv.yml
Labels: movies, tv, metadata, assets

#231 ✅ feat: Add Tests for TV Show Seasons
  tests/metadata_tv.py
Labels: tv

#230 ✨ Movie: Godzilla Minus One
  metadata/movies/assets/940721-1-0.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#232 ✨ Movie: The Hurricane
  metadata/movies/assets/10400-the-hurricane.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#234 ✨ Movie: Be Cool
  metadata/movies/assets/4551-be-cool.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#233 ✨ Movie: Babylon A.D.
  metadata/movies/assets/9381-babylon-a-d.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#235 ✨ Collection: Rush Hour
  metadata/movies/assets/2109-rush-hour.jpg
  metadata/movies/assets/5174-rush-hour-3.jpg
  metadata/movies/assets/5175-rush-hour-2.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#236 ✨ Collection: Big Momma
  metadata/movies/assets/11565-big-momma-s-house-2.jpg
  metadata/movies/assets/38322-big-mommas-like-father-like-son.jpg
  metadata/movies/assets/9600-big-momma-s-house.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#239 ✨Movie: Ferrari
  metadata/movies/assets/365620-ferrari.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#237 ✨Movie: The Notebook
  metadata/movies/assets/11036-the-notebook.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#238 ✨Movie: Trigger warning
  metadata/movies/assets/704673-trigger-warning.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#240 ✨ Collection: The huntsman collection
  metadata/movies/assets/290595-the-huntsman-winter-s-war.jpg
  metadata/movies/assets/58595-snow-white-and-the-huntsman.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#242 ✨Movie: Furiosa
  metadata/movies/assets/786892-furiosa-a-mad-max-saga.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets
