Repository jade-team/kometa-config, pull requests merged in 2024-04, with the labels that each got.

#136 ✨ Collection: Sing
  metadata/movies/assets/335797-sing.jpg
  metadata/movies/assets/438695-sing-2.jpg
  metadata/movies/movies.yml
Labels: enhancement

#135 ✨ Collection: The princess switch
  metadata/movies/assets/556803-the-princess-switch.jpg
  metadata/movies/assets/643882-the-princess-switch-switched-again.jpg
  metadata/movies/assets/785533-the-princess-switch-3-romancing-the-star.jpg
  metadata/movies/movies.yml
Labels: enhancement

#134 ✨ Collection: National Treasure
  metadata/movies/assets/2059-national-treasure.jpg
  metadata/movies/assets/6637-national-treasure-book-of-secrets.jpg
  metadata/movies/movies.yml
Labels: enhancement

#133 ✨ Collection: Finding Nemo
  metadata/movies/assets/12-finding-nemo.jpg
  metadata/movies/assets/127380-finding-dory.jpg
  metadata/movies/movies.yml
Labels: enhancement

#132 ✨ Collection: Alice in Wonderland
  metadata/movies/assets/12155-alice-in-wonderland.jpg
  metadata/movies/assets/241259-alice-through-the-looking-glass.jpg
  metadata/movies/movies.yml
Labels: enhancement

#131 ✨ Collection: The boss baby
  metadata/movies/assets/295693-the-boss-baby.jpg
  metadata/movies/assets/459151-the-boss-baby-family-business.jpg
  metadata/movies/movies.yml
Labels: enhancement

#138 ✨ Collection: Code 8
  metadata/movies/assets/461130-code-8.jpg
  metadata/movies/assets/932420-code-8-part-ii.jpg
  metadata/movies/movies.yml
Labels: enhancement

#137 ✨ Collection: Honey, I shrunk the kids
  metadata/movies/assets/11158-honey-i-blew-up-the-kid.jpg
  metadata/movies/assets/11425-honey-we-shrunk-ourselves.jpg
  metadata/movies/assets/9354-honey-i-shrunk-the-kids.jpg
  metadata/movies/movies.yml
Labels: enhancement

#139 ✨ Collection: Maze Runner
  metadata/movies/assets/198663-the-maze-runner.jpg
  metadata/movies/assets/294254-maze-runner-the-scorch-trials.jpg
  metadata/movies/assets/336843-maze-runner-the-death-cure.jpg
  metadata/movies/movies.yml
Labels: enhancement

#140 ✨ Collection: Pitch Perfect
  metadata/movies/assets/114150-pitch-perfect.jpg
  metadata/movies/assets/254470-pitch-perfect-2.jpg
  metadata/movies/assets/353616-pitch-perfect-3.jpg
  metadata/movies/movies.yml
Labels: enhancement

#141 ✨ Collection: Digimon Adventure tri
  metadata/movies/assets/357400-tri.jpg
  metadata/movies/assets/372752-tri-2.jpg
  metadata/movies/assets/378106-tri-3.jpg
  metadata/movies/assets/422347-tri-4.jpg
  metadata/movies/assets/461758-tri-5.jpg
  metadata/movies/assets/481760-tri-6.jpg
  metadata/movies/movies.yml
Labels: enhancement

#142 🐛 Movie: Fix The Equalizer 3 TMDBID
  metadata/movies/movies.yml
Labels: bug

#143 ✨ Collection: Escape Room
  metadata/movies/assets/431259-escape-room.jpg
  metadata/movies/assets/585216-escape-room-tournament-of-champions.jpg
  metadata/movies/movies.yml
Labels: enhancement

#144 ✨ Movie: Escape Room
  metadata/movies/assets/522681-escape-room.jpg
  metadata/movies/movies.yml
Labels: enhancement

#147 ✨ Collection: The Addams family
  metadata/movies/assets/2758-addams-family-values.jpg
  metadata/movies/assets/2907-the-addams-family.jpg
  metadata/movies/movies.yml
Labels: enhancement

#146 Update README.md
  README.md
Labels: documentation

#145 ✨ Collection: Evangelion
  metadata/movies/assets/18491-air.jpg
  metadata/movies/assets/21832.jpg
  metadata/movies/assets/54270-death-true-air.jpg
  metadata/movies/assets/857862-evangelion-death-true.jpg
  metadata/movies/movies.yml
Labels: enhancement

#154 ✨ Collection: Wreck it Ralph
  metadata/movies/assets/404368-ralph-breaks-the-internet.jpg
  metadata/movies/assets/82690-wreck-it-ralph.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#153 ✨ Collection: Mamma Mia!
  metadata/movies/assets/11631-mamma-mia.jpg
  metadata/movies/assets/458423-mamma-mia-here-we-go-again.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#152 ✨ Collection: Bill & Ted
  metadata/movies/assets/1648-bill-ted-s-excellent-adventure.jpg
  metadata/movies/assets/1649-bill-ted-s-bogus-journey.jpg
  metadata/movies/assets/501979-bill-ted-face-the-music.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#150 ✨ Collection: 300
  metadata/movies/assets/1271-300.jpg
  metadata/movies/assets/53182-300-rise-of-an-empire.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#155 👷 Feature: Add Labeler to CI/CD
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement

#149 ✨ Collection: 365 days
  metadata/movies/assets/664413-365-dni.jpg
  metadata/movies/assets/829557-365-dni-ten-dzien.jpg
  metadata/movies/assets/829560-kolejne-365-dni.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#151 ✨ Collection: Ace Ventura
  metadata/movies/assets/15338-ace-ventura-jr-pet-detective.jpg
  metadata/movies/assets/3049-ace-ventura-pet-detective.jpg
  metadata/movies/assets/9273-ace-ventura-when-nature-calls.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#160 ✨ Collection: Bambi
  metadata/movies/assets/13205-bambi-ii.jpg
  metadata/movies/assets/3170-bambi.jpeg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#158 🐛 Movie: Fix Annabelle TMDB ID
  metadata/movies/movies.yml
Labels: movies, metadata

#157 ✨ Collection: Fantastic Beast
  metadata/movies/assets/259316-fantastic-beasts-and-where-to-find-them.jpg
  metadata/movies/assets/338952-fantastic-beasts-the-crimes-of-grindelwald.jpg
  metadata/movies/assets/338953-fantastic-beasts-the-secrets-of-dumbledore.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#156 ✨ Collection: The Angry Birds
  metadata/movies/assets/153518-the-angry-birds-movie.jpg
  metadata/movies/assets/454640-the-angry-birds-movie-2.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#159 ✨ Collection: Attraction
  metadata/movies/assets/401513.jpg
  metadata/movies/assets/514207.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#161 🐛 Movie: Fix some wrong movie Ids
  metadata/movies/movies.yml
Labels: movies, metadata

#162 ✅ Feature: Add Linter for YAMLs
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/tests.yml
  .yamllint
  metadata/movies/movies.yml
  playlists/playlists.yml
Labels: enhancement, movies, playlists, metadata

#164 ✨ Movie: Batman and Harley Quinn
  metadata/movies/assets/408648-batman-and-harley-quinn.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#163 ✨ Collection: Batman (DC Universe Animated)
  metadata/movies/assets/14919-batman-mask-of-the-phantasm.jpg
  metadata/movies/assets/15805-batman-mr-freeze-subzero.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#165 ✨ Collection: Batman animation collection (Adam West)
  metadata/movies/assets/411736-batman-return-of-the-caped-crusaders.jpg
  metadata/movies/assets/464882-batman-vs-two-face.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#166 ✅ Feature: Add Test for Metadata - Movies
  .github/workflows/tests.yml
  .gitignore
  metadata/movies/assets/3170-bambi.jpeg
  metadata/movies/assets/3170-bambi.jpg
  tests/main.py
  tests/metadatamovies.py
  tests/requirements.txt
Labels: enhancement, movies, metadata, assets

#167 ✨ Collection: Bigfoot family
  metadata/movies/assets/413644-the-son-of-bigfoot.jpg
  metadata/movies/assets/702525-bigfoot-family.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#168 ✨ Collection: Borat
  metadata/movies/assets/496-borat-cultural-learnings-of-america-for-make-benefit-glorious-nation-of-kazakhstan.jpg
  metadata/movies/assets/740985-borat-subsequent-moviefilm.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#169 ✨ Collection: Campeones
  metadata/movies/assets/1074080-campeonex.jpg
  metadata/movies/assets/456929-campeones.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#170 ✨ Collection: Fifty shades
  metadata/movies/assets/216015-fifty-shades-of-grey.jpg
  metadata/movies/assets/337167-fifty-shades-freed.jpg
  metadata/movies/assets/341174-fifty-shades-darker.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#171 ✨ Collection: Crank
  metadata/movies/assets/15092-crank-high-voltage.jpg
  metadata/movies/assets/1948-crank.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#172 ✨ Collection: Divergent
  metadata/movies/assets/157350-divergent.jpg
  metadata/movies/assets/262500-insurgent.jpg
  metadata/movies/assets/262504-allegiant.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#173 ✨ Collection: Downton Abbey
  metadata/movies/assets/535544-downton-abbey.jpg
  metadata/movies/assets/820446-downton-abbey-a-new-era.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#174 ✨ Collection: Ocean's
  metadata/movies/assets/161-ocean-s-eleven.jpg
  metadata/movies/assets/163-ocean-s-twelve.jpg
  metadata/movies/assets/298-ocean-s-thirteen.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#175 ✨ Collection: The Punisher
  metadata/movies/assets/13056-punisher-war-zone.jpg
  metadata/movies/assets/7220-the-punisher.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#176 ✨ Collection: Puss in boots
  metadata/movies/assets/315162-puss-in-boots-the-last-wish.jpg
  metadata/movies/assets/417859-puss-in-boots.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#177 ✨ Collection: Son of Batman
  metadata/movies/assets/251519-son-of-batman.jpg
  metadata/movies/assets/321528-batman-vs-robin.jpg
  metadata/movies/assets/366924-batman-bad-blood.jpg
  metadata/movies/assets/537056-batman-hush.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#178 ✨ Collection: The hunchback of Notre Dame
  metadata/movies/assets/10545-the-hunchback-of-notre-dame.jpg
  metadata/movies/assets/12448-the-hunchback-of-notre-dame-ii.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#179 ✨ Collection: El mundo es suyo
  metadata/movies/assets/115655-el-mundo-es-nuestro.jpg
  metadata/movies/assets/516363-el-mundo-es-suyo.jpg
  metadata/movies/assets/807200-el-mundo-es-vuestro.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#181 ✨ Collection: The hitman bodyguard collection
  metadata/movies/assets/390043-the-hitman-s-bodyguard.jpg
  metadata/movies/assets/522931-hitman-s-wife-s-bodyguard.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#182 ✨ Collection: The godfather
  metadata/movies/assets/238-the-godfather.jpg
  metadata/movies/assets/240-the-godfather-part-ii.jpg
  metadata/movies/assets/242-the-godfather-part-iii.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#183 ✨ Collection: Return of the living dead collection
  metadata/movies/assets/10925-the-return-of-the-living-dead.jpg
  metadata/movies/assets/24929-return-of-the-living-dead-part-ii.jpg
  metadata/movies/assets/24935-return-of-the-living-dead-necropolis.jpg
  metadata/movies/assets/24939-return-of-the-living-dead-rave-to-the-grave.jpg
  metadata/movies/assets/28260-return-of-the-living-dead-iii.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#184 ✨ Collection: Batman The dark knight returns
  metadata/movies/assets/123025-batman-the-dark-knight-returns-part-1.jpg
  metadata/movies/assets/142061-batman-the-dark-knight-returns-part-2.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#185 ✨ Collection: The shining
  metadata/movies/assets/501170-doctor-sleep.jpg
  metadata/movies/assets/694-the-shining.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#186 ✨ Collection: The scorpion king
  metadata/movies/assets/13486-the-scorpion-king-2-rise-of-a-warrior.jpg
  metadata/movies/assets/297291-the-scorpion-king-4-quest-for-power.jpg
  metadata/movies/assets/522417-the-scorpion-king-book-of-souls.jpg
  metadata/movies/assets/78049-the-scorpion-king-3-battle-for-redemption.jpg
  metadata/movies/assets/9334-the-scorpion-king.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#187 ✨ Collection: The lion king
  metadata/movies/assets/11430-the-lion-king-1.jpg
  metadata/movies/assets/8587-the-lion-king.jpg
  metadata/movies/assets/9732-the-lion-king-ii-simba-s-pride.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#188 ✨ Collection: Enchanted
  metadata/movies/assets/338958-disenchanted.jpg
  metadata/movies/assets/4523-enchanted.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#189 ✨ Collection: The conjuring
  metadata/movies/assets/138843-the-conjuring.jpg
  metadata/movies/assets/259693-the-conjuring-2.jpg
  metadata/movies/assets/423108-the-conjuring-the-devil-made-me-do-it.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#190 🍱 Collection: Improve Harry Potter Assets
  metadata/movies/assets/12444-harry-potter-and-the-deathly-hallows-part-1.jpg
  metadata/movies/assets/12445-harry-potter-and-the-deathly-hallows-part-2.jpg
  metadata/movies/assets/671-harry-potter-and-the-philosopher-s-stone.jpg
  metadata/movies/assets/672-harry-potter-and-the-chamber-of-secrets.jpg
  metadata/movies/assets/673-harry-potter-and-the-prisoner-of-azkaban.jpg
  metadata/movies/assets/674-harry-potter-and-the-goblet-of-fire.jpg
  metadata/movies/assets/675-harry-potter-and-the-order-of-the-phoenix.jpg
  metadata/movies/assets/767-harry-potter-and-the-half-blood-prince.jpg
Labels: movies, metadata, assets

#191 ✨ Collection: Happy death day
  metadata/movies/assets/440021-happy-death-day.jpg
  metadata/movies/assets/512196-happy-death-day-2u.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#192 ✨ Collection: Fullmetal Alchemist (Live Action)
  metadata/movies/assets/426285.jpg
  metadata/movies/assets/960700-fullmetal-alchemist-final-chapter-the-avenger-scar.jpg
  metadata/movies/assets/960704.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#193 ✨ Collection: G.I. Joe (Live action)
  metadata/movies/assets/14869-g-i-joe-the-rise-of-cobra.jpg
  metadata/movies/assets/72559-g-i-joe-retaliation.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#194 ✨ Collection: García y García
  metadata/movies/assets/1040861-el-hotel-de-los-lios-garcia-y-garcia-2.jpg
  metadata/movies/assets/774456-garcia-y-garcia.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#195 ✨ Collection: Godzilla
  metadata/movies/assets/124905-godzilla.jpg
  metadata/movies/assets/373571-godzilla-king-of-the-monsters.jpg
  metadata/movies/assets/399566-godzilla-vs-kong.jpg
  metadata/movies/assets/823464-godzilla-x-kong-the-new-empire.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#196 ✨ Collection: Halloween
  metadata/movies/assets/10676-halloween-iii-season-of-the-witch.jpg
  metadata/movies/assets/10987-halloween-the-curse-of-michael-myers.jpg
  metadata/movies/assets/11281-halloween-ii.jpg
  metadata/movies/assets/11357-halloween-4-the-return-of-michael-myers.jpg
  metadata/movies/assets/11361-halloween-5-the-revenge-of-michael-myers.jpg
  metadata/movies/assets/11442-halloween-resurrection.jpg
  metadata/movies/assets/11675-halloween-h20-20-years-later.jpg
  metadata/movies/assets/424139-halloween.jpg
  metadata/movies/assets/610253-halloween-kills.jpg
  metadata/movies/assets/616820-halloween-ends.jpg
  metadata/movies/assets/948-halloween.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#197 ✨ Collection: Hannibal Lecter
  metadata/movies/assets/274-the-silence-of-the-lambs.jpg
  metadata/movies/assets/9533-red-dragon.jpg
  metadata/movies/assets/9740-hannibal.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#198 ✨ Collection: Dune
  metadata/movies/assets/438631-dune.jpg
  metadata/movies/assets/693134-dune-part-two.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#199 🚚 Rebrand repo from Plex-Meta-Manager to Kometa
  README.md
  metadata/movies/movies.yml
  playlists/playlists.yml
  tests/metadatamovies.py
Labels: documentation, movies, playlists, metadata
