Repository jade-team/kometa-config, pull requests merged in 2024-07, with the labels that each got.

#243 ✨Collection: Digimon movies
  metadata/movies/assets/571265-last-evolution.jpg
  metadata/movies/assets/872976-02-the-beginning.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#244 ✨Collection: Berverly Hill Cop
  metadata/movies/assets/280180-beverly-hills-cop-axel-f.jpg
  metadata/movies/assets/306-beverly-hills-cop-iii.jpg
  metadata/movies/assets/90-beverly-hills-cop.jpg
  metadata/movies/assets/96-beverly-hills-cop-ii.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#245 ✨ Collection: Kung Fu Panda Movies
  metadata/movies/assets/1011985-kung-fu-panda-4.jpg
  metadata/movies/assets/140300-kung-fu-panda-3.jpg
  metadata/movies/assets/381693-kung-fu-panda-secrets-of-the-scroll.jpg
  metadata/movies/assets/49444-kung-fu-panda-2.jpg
  metadata/movies/assets/50393-kung-fu-panda-holiday.jpg
  metadata/movies/assets/9502-kung-fu-panda.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#246 ✨ Moive: The kingdom of the planet of the apes
  metadata/movies/assets/653346-kingdom-of-the-planet-of-the-apes.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#247 ✨ TV: Bridgerton
  metadata/tv/assets/366668-bridgerton.jpg
  metadata/tv/assets/366668-bridgerton_S01.jpg
  metadata/tv/assets/366668-bridgerton_S02.jpg
  metadata/tv/assets/366668-bridgerton_S03.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

#249 ✨ Movie: Bad Boys: Ride or Die
  metadata/movies/assets/573435-bad-boys-ride-or-die.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#251 ✨ Collection: My spy movies
  metadata/movies/assets/1048241-my-spy-the-eternal-city.jpg
  metadata/movies/assets/592834-my-spy.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#253 ✨ Movie: One for the money
  metadata/movies/assets/54054-one-for-the-money.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#250 ✨ Movie: The last voyage of the demeter
  metadata/movies/assets/635910-the-last-voyage-of-the-demeter.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#252 ✨ Movie: Get out
  metadata/movies/assets/419430-get-out.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#254 ✨ Movie: Cellular
  metadata/movies/assets/9759-cellular.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#258 🐛 Fix: Blade sort
  metadata/movies/movies.yml
Labels: movies, metadata

#255 ✨ Movie: The longest yard
  metadata/movies/assets/9291-the-longest-yard.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#263 ✨ Movie: Braveheart
  metadata/movies/assets/197-braveheart.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#264 ✨ Movie: Breaking and Entering
  metadata/movies/assets/1253-breaking-and-entering.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#261 ✨ Movie: Bloodshot
  metadata/movies/assets/338762-bloodshot.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#260 ✨ Movie: Book Club
  metadata/movies/assets/502682-book-club.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#257 ✨ Movie: Bohemian Rhapsody
  metadata/movies/assets/424694-bohemian-rhapsody.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#256 ✨ Movie: Black Hawk down
  metadata/movies/assets/855-black-hawk-down.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#265 ✨ Movie: Il buono, Il brutto, Il cattivo
  metadata/movies/assets/429-il-buono-il-brutto-il-cattivo.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#262 ✨ Movie: Brave
  metadata/movies/assets/62177-brave.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#266 ✨ Collection: Spy Kids movies
  metadata/movies/assets/10054-spy-kids.jpg
  metadata/movies/assets/12279-spy-kids-3-d-game-over.jpg
  metadata/movies/assets/56288-spy-kids-all-the-time-in-the-world.jpg
  metadata/movies/assets/790493-spy-kids-armageddon.jpg
  metadata/movies/assets/9488-spy-kids-2-the-island-of-lost-dreams.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#267 ✨ Collection: Star Trek (Original)
  metadata/movies/assets/152-star-trek-the-motion-picture.jpg
  metadata/movies/assets/154-star-trek-ii-the-wrath-of-khan.jpg
  metadata/movies/assets/157-star-trek-iii-the-search-for-spock.jpg
  metadata/movies/assets/168-star-trek-iv-the-voyage-home.jpg
  metadata/movies/assets/172-star-trek-v-the-final-frontier.jpg
  metadata/movies/assets/174-star-trek-vi-the-undiscovered-country.jpg
  metadata/movies/assets/193-star-trek-generations.jpg
  metadata/movies/assets/199-star-trek-first-contact.jpg
  metadata/movies/assets/200-star-trek-insurrection.jpg
  metadata/movies/assets/201-star-trek-nemesis.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#268 ✨ Collection: Star Trek (Alternative) Collection
  metadata/movies/assets/13475-star-trek.jpg
  metadata/movies/assets/188927-star-trek-beyond.jpg
  metadata/movies/assets/54138-star-trek-into-darkness.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets
