Repository jade-team/kometa-config, pull requests merged in 2024-05, with the labels that each got.

#201 ✨ Collection: Ghostbusters
  metadata/movies/assets/2978-ghostbusters-ii.jpg
  metadata/movies/assets/425909-ghostbusters-afterlife.jpg
  metadata/movies/assets/620-ghostbusters.jpg
  metadata/movies/assets/967847-ghostbusters-frozen-empire.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#202 ✨ Collection: Back to the future
  metadata/movies/assets/105-back-to-the-future.jpg
  metadata/movies/assets/165-back-to-the-future-part-ii.jpg
  metadata/movies/assets/196-back-to-the-future-part-iii.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#203 ✨ Collection: Clerks
  metadata/movies/assets/2292-clerks.jpg
  metadata/movies/assets/2295-clerks-ii.jpg
  metadata/movies/assets/635891-clerks-iii.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#204 ✨ Movie: Fantastic Four
  metadata/movies/assets/166424-fantastic-four.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#205 ✨ Collection: Lara Croft: Tomb Raider
  metadata/movies/assets/1995-lara-croft-tomb-raider.jpg
  metadata/movies/assets/1996-lara-croft-tomb-raider-the-cradle-of-life.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#206 ✨ Collection: Men in Black
  metadata/movies/assets/41154-men-in-black-3.jpg
  metadata/movies/assets/607-men-in-black.jpg
  metadata/movies/assets/608-men-in-black-ii.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#207 ✨ Collection: Has fallen
  metadata/movies/assets/117263-olympus-has-fallen.jpg
  metadata/movies/assets/267860-london-has-fallen.jpg
  metadata/movies/assets/423204-angel-has-fallen.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#208 ✨ Collection: Sherlock Holmes
  metadata/movies/assets/10528-sherlock-holmes.jpg
  metadata/movies/assets/58574-sherlock-holmes-a-game-of-shadows.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#210 ✨ Movie: Everything everywell all at once
  metadata/movies/assets/545611-everything-everywhere-all-at-once.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#211 ✨ Collection: Transformers
  metadata/movies/assets/1858-transformers.jpg
  metadata/movies/assets/335988-transformers-the-last-knight.jpg
  metadata/movies/assets/38356-transformers-dark-of-the-moon.jpg
  metadata/movies/assets/8373-transformers-revenge-of-the-fallen.jpg
  metadata/movies/assets/91314-transformers-age-of-extinction.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#212 ✨ Collection: Venom
  metadata/movies/assets/335983-venom.jpg
  metadata/movies/assets/580489-venom-let-there-be-carnage.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#214 🐛 Movie: Fix RE5 name
  metadata/movies/movies.yml
Labels: movies, metadata

#213 ✨ Movie: Resident Evil: Welcome to Raccoon City
  metadata/movies/assets/460458-resident-evil-welcome-to-raccoon-city.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#215 ✨ Collection: Kong
  metadata/movies/assets/254-king-kong.jpg
  metadata/movies/assets/293167-kong-skull-island.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#216 ✨ TV: Add Metadata TV with Grey's Anatomy
  .github/labeler.yml
  metadata/tv/assets/1416-grey-s-anatomy.jpg
  metadata/tv/tv.yml
  tests/main.py
  tests/metadata_movies.py
  tests/metadata_tv.py
Labels: tv, metadata, assets

#217 ✨ TV: American Gods
  metadata/tv/assets/46639-american-gods.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

#218 🐛 Fix American Gods ID
  metadata/tv/assets/253573-american-gods.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

#219 🐛 TV: Fix Grey's Anatomy ID
  metadata/tv/assets/73762-grey-s-anatomy.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

#220 ✨ TV: Shogun
  metadata/tv/assets/392573-shogun.jpg
  metadata/tv/tv.yml
Labels: tv, metadata, assets

#221 👷 Add Image Compress to CI/CD
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/tests.yml
Labels: enhancement

#222 🐛 Fix Image Compress CI/CD
  .github/workflows/calibreapp-image-actions.yml
Labels: bug

#227 ✨ Movie: Polar Express
  metadata/movies/assets/5255-the-polar-express.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets

#228 ✨ Movie: Atlas
  metadata/movies/assets/614933-atlas.jpg
  metadata/movies/movies.yml
Labels: movies, metadata, assets
